.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
    

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 30%;

        span {
            color: #000000;
        }
    }
}

ion-slides {
   

    .slide1{
        margin-top: 265px;

    }

    .slide2{
        margin-top: 265px;

    }
    .slide-inner {
        
        width: 80%;
        color: #fff;
        background-color: #000000;
        border-radius: 5px;

        ion-item {
            --background: rgba(255, 255, 255, 0.2);
            --border-radius: 5px;

            ion-input {
                --color: #fff;
            }
        }
    }
}
.G{

margin-top: 100px;


}

.BemVindo {

    margin-left: 35px;
    margin-top: -15px;

}

.CL{

    margin-top: -20px;

}

.action-button{

margin-top: -110px;

 
}

 .logoLogin {

    margin-left: 50px;
    margin-top: -30px;
 }

